!!! 5
%html
  %head
    %title= "Your Website"

  %body
    %header
      %nav
        %ul
          %li= "Menu Item"

    %section#content
      = yield

    %footer
      %p
        Copyme 2014 Nick Maloney
